# Environment
.env
Pipfile.lock

# Ignore vim files:
*~
*.swp
*.swo


# Personal
.vscode/*
sensitive_files/*
util/token.json
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

