[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tda-api = "*"
# td-ameritrade-python-api = "*"

selenium = "*"
python-dotenv = "*"
chromedriver-autoinstaller = "*"
PyPDF2 = "*"
pdfplumber = "*"
pandas = "*"
pyside6-essentials = "*"

#numpy = "*"
#'python-lsp-server[all]' = "*"

[dev-packages]

[requires]
python_version = "3"

