CONSUMER_KEY=""  ( AKA CLIENT ID )
REDIRECT_URI="https://localhost"
JSON_PATH="/Users/phoot/code/finance/util/token.json"
TOKEN_PATH="/Users/phoot/code/finance/util/token.json"
REPO_PATH="/Users/phoot/code/finance"
